<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swedish Currency Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>   
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-8">
                    <h1 class="display-4">Swedish Currency Tracker</h1>
                    <p class="lead">Click on below button to reveal latest exchange rates.</p>
                    <form action="/get-rate">
                        <button class='btn btn-primary' type='submit'>Show Info</button>
                    </form>
                </div>
                <div id='linebg' class="col col-4">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container container-main">
        <div class="row">
            <div class="col xs-col-12 md-col-3">
                <div class="row">
                    <div class="col">
                        <p>Today, 1€ buys:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id='result'>
                            {{ result }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id="date">
                            {{ today }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img width='180' src="../static/img/flag.png" alt="">   
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img width='180' src="../static/img/euflag.png" alt="">   
                    </div>
                </div>      
            </div>
            <div id="result-table" class="col col-9">
                <div class="chart" id="scattergraph">
                    <script>
                        var graphs = {{ plot | safe }};
                        Plotly.plot('scattergraph',graphs,{});
                    </script>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>    
</body>
</html>